th{border-top:0;}

td{vertical-align:middle;}
.table { font-size: .65rem; }
.table tr:first-child td{border-top:0;}
.label { font-size: .65rem;font-style:italic; }
.name { font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; font-size: .65rem; }
.css { border-radius: 50%; max-height: 95px; box-shadow: 5px 3px 11px; border: 1px solid #9a9a9a; }
