<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item"><i class="fa fa-phone" aria-hidden="true"></i> Talk Time Goals:</div>
    <div class="ticker__item">Today:	650 / 1000</div>
    <div class="ticker__item">Week:	1,500 / 7,000</div>
    <div class="ticker__item">Month:	25,600 / 75,000 </div>

    <div class="ticker__item"><i aria-hidden="true" class="fa fa-exchange"></i> Transfer Goals:</div>
    <div class="ticker__item">Today:	2 / 10</div>
    <div class="ticker__item">Week:	64 / 160</div>
    <div class="ticker__item">Month:	260 / 500</div>
  </div>
</div>

