.css { border-radius: 50%; max-height: 95px; box-shadow: 5px 3px 11px; border: 1px solid #9a9a9a; }
td { vertical-align: middle; font-size: 2rem; }

.table .fa { color: #d3001c; }
.green, .green .fa{color:green}
