<div class="container">
  <h1>Admin</h1>

  <ngb-tabset>

    <ngb-tab>
      <ng-template ngbTabTitle>
        <i aria-hidden="true" class="fa fa-exchange"></i> Slides
      </ng-template>
      <ng-template ngbTabContent>
        <table class="table table-sm table-striped mb-0">
          <thead>
            <tr>
              <th>Slide Name</th>
              <th>Screenshot</th>
              <th>Active</th>
              <th>Duration (seconds)</th>
              <th>Order</th>
            </tr>
          </thead>
          <tbody dnd-sortable-container [sortableData]="slides" *ngIf="slides?.length">
            <tr *ngFor="let slide of slides; let i = index" dnd-sortable [sortableIndex]="i" (onDropSuccess)="slideChange()" [ngStyle]="{'opacity': slide.active ? '1' : '.3'}">
              <td>{{slide.name}}</td>
              <td><img [src]="slide.img" /></td>
              <td class="text-center">
                <div style="width: 34px;">
                  <input class="form-control form-control-sm" type="checkbox" [checked]="slide.active" [(ngModel)]="slide.active" (ngModelChange)="slideChange()" />
                </div>
              </td>
              <td>
                <input class="form-control form-control-sm" [value]="slide.duration" [(ngModel)]="slide.duration" (ngModelChange)="slideChange()" style="width:75px;" />
              </td>
              <td>
                <span dnd-sortable-handle class="badge badge-secondary text-center" style="font-size:1.4rem;">
                  <i class="fa fa-arrows-v" aria-hidden="true"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-trophy" aria-hidden="true"></i> Goals
      </ng-template>
      <ng-template ngbTabContent>
        <div class="d-inline-block w-50">
          <table class="table table-sm table-striped mb-0">
            <thead>
              <tr>
                <th colspan="2">Talk Time Goals</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Daily</td>
                <td><input class="form-control form-control-sm" style="width:75px;" value="1000" /></td>
              </tr>
              <tr>
                <td>Weekly</td>
                <td><input class="form-control form-control-sm" style="width:75px;" value="7000" /></td>
              </tr>
              <tr>
                <td>Monthly</td>
                <td><input class="form-control form-control-sm" style="width:75px;" value="75000" /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-inline-block w-50">
          <table class="table table-sm table-striped mb-0">
            <thead>
              <tr>
                <th colspan="2">Xfer Goals</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Daily</td>
                <td><input class="form-control form-control-sm" style="width:75px;" value="10" /></td>
              </tr>
              <tr>
                <td>Weekly</td>
                <td><input class="form-control form-control-sm" style="width:75px;" value="160" /></td>
              </tr>
              <tr>
                <td>Monthly</td>
                <td><input class="form-control form-control-sm" style="width:75px;" value="50" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>


  
</div>
